<<<<<<< HEAD

/*======================
    404 page
=======================*/
.page_404{ 
    background:#fff; 
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: center;
}

.page_404  img{ 
    width:100%;
}

.four_zero_four_bg{
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
}

.four_zero_four_bg h1{
    font-size:80px;
}

.four_zero_four_bg h3{
	font-size:80px;
}

.link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
}
.contant_box_404{ 
    margin-top:-50px;
=======

/*======================
    404 page
=======================*/
.page_404{ 
    background:#fff; 
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: center;
}

.page_404  img{ 
    width:100%;
}

.four_zero_four_bg{
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
}

.four_zero_four_bg h1{
    font-size:80px;
}

.four_zero_four_bg h3{
	font-size:80px;
}

.link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
}
.contant_box_404{ 
    margin-top:-50px;
>>>>>>> 50a3aa8c3c9c98c9b4311105a9aac3d2a2c6ee07
}