* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body{
  background-color: #F1F1F1;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 10;
}

/* NAVIGATION */
.nav span
{
  position: relative;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 70px;
  width: 100%;
  overflow: hidden;
  color: #121013;
  position: absolute;
  top: 0px;
  transition: 0.3s;
}

.navbar img {
  width: 60px;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-self: end;
  margin-right: 20px;
}

.nav-item a {
  color: #121013;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.nav-item a:hover {
  color: #3498db;
}

.nav-item:hover::before { 
  content: "";
  position:absolute;
  bottom: 0;
  border: 2px solid #3498db;
  animation: underline 0.3s;
  animation-fill-mode: forwards;
}

@keyframes underline {
  from {width: 0px;}
  to {width: 60px;}
}

.features {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
  display: flex;
  padding: 50px 20px;
  justify-content: space-around;
}

.feature-container {
  flex-basis: 30%;
  margin-top: 10px;
}

.feature-container p {
  color: #000;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 15px;
}

.feature-container img {
  width: 100%;
  margin-bottom: 15px;
}

/* SEARCH FUNCTION */

#search-icon {
  font-size: 0.9rem;
  margin-top: 3px;
  margin-left: 15px;
  transition: color 0.3s ease-out;
}

#search-icon:hover {
  color: #3498db;
  cursor: pointer;
}

.search {
  transform: translate(-35%);
  -webkit-transform: translate(-35%);
  transition: transform 0.7s ease-in-out;
  color: #3498db;
}

.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}

.search-input {
  position: absolute;
  top: -4px;
  right: -125px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.6s ease;
}

.search-active {
  opacity: 1;
  z-index: 0;
}

input {
  border: 0;
  border-left: 1px solid #ccc;
  border-radius: 0; /* FOR SAFARI */
  outline: 0;
  padding: 5px;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar{
  width: 25px;
  height: 3px;
  background-color: #121013;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover{
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

/* Media Queries */

  /* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) { 
  .features {
    flex-direction: column;
    padding: 50px;
  }
  

  /* MOBILE NAVIGATION */
     
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 0px;
    background-color: #F1F1F1;
    width: 100%;
    height: calc(100vh);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
    margin-right: 0;
  }
  
  .navbar li {
    padding: 15px;
  }
  
  .navbar li:first-child {
    margin-top: 50px;
  }
  
  .navbar li a {
    font-size: 1rem;
  }
   
  .menu-toggle, .bar {
    display: block;
    cursor: pointer;
    z-index: 1;
  }
  
  .mobile-nav {
  transform: translate(0%)!important;
}
  
  /* SECTIONS */
  .feature-container p {
    margin-bottom: 25px;
  }
  
  .feature-container {
    margin-top: 20px;
  }
  
  .feature-container:nth-child(2) {
    order: -1;
  }
  
  /* SEARCH DISABLED ON MOBILE */
  
  #search-icon {
    display: none;
  }
  
  .search-input {
  display: none;
  }
}

/* SECTIONS */
/* HEADLINE */
.headline {
  width: 100%;
  height: 800px;
  background-image: url("../resources/headline-bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.headline-section
{
  width: 80%;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headline-text
{
  padding-top: 100px;
  width: 70%;
}

.headline-text p
{
  font-size: 55px;
  color: #F1F1F1;
  font-family: 'Archivo Black', sans-serif;
}

.headline-text h1
{
  color: #121013;
  font-weight: bold;
}

.headline-img
{
  position: absolute;
  width: 45%;
  background-size: cover;
  border-radius: 50%;
  border:solid 30px #F1F1F1;
  right: -100px;
  bottom: 80px;
  z-index: 0;
}

.custom-shape-divider-bottom-1675919935 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1675919935 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1675919935 .shape-fill {
    fill: #F1F1F1;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1675919935 svg {
        width: calc(100% + 1.3px);
        height: 95px;
    }
}

@media only screen and (max-width: 720px) { 
  .headline-section
  {
    width: 90%;
    align-items: flex-start;
    align-items: center;
  }
  .headline-text p
  {
    font-size: 50px;
  }
  .headline-text
  {
    width: 100%;
  }
}

@media only screen and (max-width: 900px)
{
  .headline-img
  {
    width: 50%;
  }
}

@media only screen and (max-width: 776px)
{
  .headline-img
  {
    display: none;
  }
}

@media only screen and (max-width: 401px)
{
  .headline-text p
  {
    font-size: 35px;
  }
}

/* ABOUT */
.about
{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

.about-child
{
  width: 80%;
  height: fit-content;
  display: flex;
}

.about-text
{
  width: 50%;
}

.about-text p
{
  text-align: justify;
}

.about-text strong
{
  color: #FDB827;
}

.about-img
{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.about-img button {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica,"sans-serif";
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #FDB827;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.about-img button:hover {
  background: #FDB827;
}

.about-img button > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

.about-img button:hover svg {
  transform: translateX(5px);
}

.about-img button:active {
  transform: scale(0.95);
}

.about-logo
{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.about-logo img
{
  width: 50%;
  cursor: pointer;
}

.about-img img
{
  width: 100%;
}

@media only screen and (max-width: 720px) 
{ 
  .about-child
  {
    flex-direction: column;
    width: 90%;
  }
  .about-text
  {
    width: 100%;
  }

  .about-img
  {
    width: 100%;
  }
}

/* SERVICES */
.services
{
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FDB827;
  border-radius: 31% 0% 0% 0% / 31% 0% 0% 0%;
}